<footer class="text-center mt-5">
  <div class="container d-flex flex-column align-items-center">
    <!-- Social Media Icons -->
    <div class="d-flex gap-2 mt-1">
      <a href="http://www.facebook.com" class="text-dark">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="http://www.youtube.com" class="text-dark">
        <i class="fab fa-youtube fa-2x"></i>
      </a>
      <a href="http://www.instagram.com" class="text-dark">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="http://www.twitter.com" class="text-dark">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-dark">
      <p class="mb-0">
        © 2023 Copyright:
        <a href="https://marks-bees.netlify.app/#/" class="text-dark"
          >Porcaro Farms</a
        >
      </p>
      <div>
        <a href="/privacy-policy" class="text-dark">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function updateDateTime() {
    const now = new Date();

    const optionsDate = {
      year: "numeric",
      month: "long",
      day: "numeric",
    };

    const optionsTime = {
      hour: "numeric",
      minute: "numeric",
      second: "numeric",
    };

    const content = `${now.toLocaleDateString("en-US", optionsDate)}`;

    document.querySelector("#datetime").innerHTML = content;
  }

  // Call the function once when the page loads
  updateDateTime();
</script>
