<nav class="navbar navbar-expand-lg bg-michgold sticky-top">
  <div class="container-fluid">
    <div>
      <img class="ms-2" src="/images/hive_tool_noback_2.png" alt="" />
      <p class="mb-0 fw-bold">HIVE TOOL</p>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="d-flex align-items-end navbar-nav ms-lg-auto ms-auto fw-bold">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="inspections">Inspections</a>
        <a class="nav-link" href="inventory">Inventory</a>
        <a class="nav-link" href="treatment">Treatment</a>
        <a class="nav-link" href="harvest">Harvest</a>
        <a class="nav-link" href="swarmtrap">Swarm Traps</a>
        <a class="nav-link" href="feeding">Feeding</a>
        <% if (user) { %>
        <a class="nav-link" id="logoutButton" href="/logout">Logout</a>
        <% } else { %>
        <a class="nav-link" href="/login">Login</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
