<div class="col">
  <div class="container px-2" style="max-width: 500px">
    <div class="card text-michgold border-michgold rounded-5 border-3">
      <div class="card-header fs-4 fw-bold text-center pb-0">Hive # 1</div>
      <div class="card-header fs-6 fw-bold text-center mb-2 pb-0">Italian</div>
      <div
        class="card-body pb-2 px-1 pt-1 mt-0 m-2 d-flex justify-content-between align-items-baseline"
      >
        <div>Added - 11/12/2023</div>
        <div>100%</div>
      </div>
      <a
        href=""
        class="btn btn-danger rounded-5 mx-auto px-3 mb-2"
        style="max-width: 30vw"
        >EDIT</a
      >
    </div>
  </div>
</div>
