<div id="title" class="container title">
  <H1 class="text-center text-white mt-2 outlined-text display-1 fw-bold apiary"
    ><%= title %></H1
  >
  <h5 class="card-title mt-3 fs-2 outlined-text" id="datetime"></h5>
  <div
    class="d-flex justify-content-between text-white align-items-center outlined-text fs-3 fw-bold me-2"
  >
    <span class="card-text mb-0 ms-2" id="city"></span>

    <div>
      <span class="card-text mb-0"><img id="clouds" src="" alt="" /></span>
      <span class="card-text mb-0" id="temp"></span>
    </div>
  </div>
</div>
