<div id="title" class="title">
  <H1 class="text-center text-white mt-2 outlined-text display-1 fw-bold apiary"
    ><%= title %></H1
  >
  <h5 class="card-title fs-2 outlined-text mx-2" id="datetime"></h5>
  <div
    class="d-flex justify-content-between align-items-center mb-0 text-white outlined-text fs-3 fw-bold my-1 me-2"
  >
    <p class="card-text ms-2" id="city"></p>
    <p class="card-text"><img id="clouds" src="" alt="" /></p>
    <p class="card-text" id="temp"></p>
  </div>
</div>
