<div id="title" class="container title">
  <H1
    class="text-center text-white mt-2 outlined-text display-1 fw-bold sticky-top apiary"
    id="iconPrompt"
    ><%= title %></H1
  >
  <h5 class="card-title mt-3 fs-2 outlined-text" id="datetime"></h5>
  <div
    class="d-flex justify-content-between text-white outlined-text fs-3 fw-bold my-1 me-2"
  >
    <div class="ms-4">
      <img class="locationIcon" src="/static/images/location.png" alt="" />
      <p class="card-text mb-0" id="city"></p>
    </div>
    <div>
      <p class="card-text mb-0"><img id="clouds" src="" alt="" /></p>
      <p class="card-text" id="temp"></p>
    </div>
  </div>
</div>
