<%- include("partials/header")%>
  <%- include("partials/navbar")%>

  <section>
    <div class="container" style="max-width: 500px">
      <div class="card text-michgold text-center mt-2 mb-5" style="max-width: 90vw">
        <div class="card-header">
          <h1>New Feeding</h1>
        </div>
        <div class="card-body">
          <h5 class="card-title">November 13 - 2023</h5>
          <div class="d-flex justify-content-evenly mt-5">
            <p class="card-text">📍 Fenton MI</p>
            <p class="card-text">56℉ 🌤️</p>
          </div>
        </div>

        <!-- Forms -->


         
              <div class="">Feeding</div>
              <select class="form-select form-select text-michgold mb-3" aria-label="Default select example">
                  <option selected>Fondant</option>
                  <option value="1">Sugar</option>
                  <option value="2">Pollen Patty</option>
                  <option value="3">Syrup</option>
                </select>
           
         
          
        
        <!-- Form end -->

       

      <div
        class="d-flex justify-content-between  mt-5"
      >
        <button
          type="button"
          class="btn px-5 btn-danger text-dark fw-bold rounded-pill"
        >
          DELETE
        </button>
        <button
          type="button"
          class="btn px-5 btn-michgold btn-gold fw-bold rounded-pill"
        >
          ADD
        </button>
      </div>
    </div>
  </section>
  <%- include("partials/footer")%>

</body>
