<%- include("partials/header")%>
    <body>
    <!-- Nav Bar -->
    <%- include("partials/navbar")%>

    <H1 class="text-center text-michgold">Inspections</H1>
    <%- include("partials/footer")%>
    </body>
  </html>
