<%- include("partials/header")%>
    <body  class="hive-image">
    <!-- Nav Bar -->
    <%- include("partials/navbar")%>
    <section>
        <H1 class="text-center text-white  outlined-text-gold display-1 fw-bold">Inspections</H1>
        
        <%- include("partials/inspection-card")%>
  
     
</section>
    <%- include("partials/footer")%>
    </body>
  </html>
