<%- include("partials/header")%>
<body>
  <!-- Nav Bar -->
  <%- include("partials/navbar")%>

  <section>
    <div class="container" style="max-width: 500px">
      <div class="card text-michgold text-center mt-2 mb-5" style="max-width: 90vw">
        <div class="card-header">
          <h1>New Equipment</h1>
        </div>
        <div class="card-body">
          <h5 class="card-title">November 13 - 2023</h5>
          <div class="d-flex justify-content-evenly mt-5">
            <p class="card-text">📍 Fenton MI</p>
            <p class="card-text">56℉ 🌤️</p>
          </div>
        </div>

        <!-- Forms -->

        <form class=>
          <div class=" text-start m-3 fs-3 fw-semibold">
            <label for="exampleInputEmail1" class="form-label mb-3">Equipment Name</label>
            <input
              type="text"
              class="form-control bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="text-start m-3 fs-3 fw-semibold mb-5">
            <label for="exampleInputPassword1" class="form-label">Quantity</label>
            <input
              type="text"
              class="form-control bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
              id="exampleInputPassword1"
            />
          </div>
          
        </form>
        <!-- Form end -->

       

      <div
        class="d-flex justify-content-between  mt-5"
      >
        <button
          type="button"
          class="btn px-5 btn-danger text-dark fw-bold rounded-pill"
        >
          DELETE
        </button>
        <button
          type="button"
          class="btn px-5 btn-michgold btn-gold fw-bold rounded-pill"
        >
          ADD
        </button>
      </div>
    </div>
  </section>
  <%- include("partials/footer")%>

</body>
