<!-- signup.ejs -->
<%- include("partials/header") %> <%- include("partials/navbar") %>

<div
  class="container mt-5 d-flex justify-content-center"
  style="max-width: 500px"
>
  <div class="form-group mt-4 text-center">
    <form action="/signup" method="post">
      <input
        type="email"
        id="signup-email"
        name="email"
        class="m-2 form-control fw-bold text-center bg-inputgrey rounded-pill border-michgold border-3"
        placeholder="Email..."
      />
      <input
        type="password"
        id="signup-password"
        name="password"
        class="m-2 form-control fw-bold text-center bg-inputgrey rounded-pill border-michgold border-3"
        placeholder="Password..."
      />
      <input
        type="password"
        id="signup-confirm-password"
        name="confirmPassword"
        class="m-2 form-control fw-bold text-center bg-inputgrey rounded-pill border-michgold border-3"
        placeholder="Confirm Password..."
      />
      <button
        type="submit"
        class="btn px-5 m-5 mb-0 btn-michgold btn-gold rounded-pill"
      >
        SIGN UP
      </button>
    </form>
    <div class="container d-flex justify-content-center m-0">
      <img
        src="/static/images/hive_tool_xl_2.png"
        alt=""
        style="width: 300px; height: 300px"
      />
    </div>
  </div>
</div>

<%- include("partials/footer") %>
