<!-- signup.ejs -->
<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="container d-flex justify-content-center mb-0">
  <picture>
    <source
      type="image/webp"
      srcset="
        /static/images/hive_tool@1x.webp  400w,
        /static/images/hive_tool@2x.webp  800w,
        /static/images/hive_tool@3x.webp 1200w
      "
      sizes="
    (max-width: 500px) 100vw,
    (max-width: 700px) 50vw,
    33vw
  "
    />
    <img
      src="/static/images/hive_tool@1x.png"
      alt=""
      srcset="
        /static/images/hive_tool@1x.png  400w,
        /static/images/hive_tool@2x.png  800w,
        /static/images/hive_tool@3x.png 1200w
      "
      sizes="
        (max-width: 500px) 100vw,
        (max-width: 700px) 50vw,
        33vw
      "
    />
  </picture>
</div>

<div class="container d-flex justify-content-center">
  <div class="form-group mt-4 text-center">
    <form action="/signup" method="post">
      <input
        type="email"
        id="signup-email"
        name="email"
        class="my-2 form-control fw-bold text-center bg-inputgrey rounded-pill border-michgold border-3"
        placeholder="Email..."
      />
      <input
        type="password"
        id="signup-password"
        name="password"
        class="my-2 form-control fw-bold text-center bg-inputgrey rounded-pill border-michgold border-3"
        placeholder="Password..."
      />
      <input
        type="password"
        id="signup-confirm-password"
        name="confirmPassword"
        class="my-2 form-control fw-bold text-center bg-inputgrey rounded-pill border-michgold border-3"
        placeholder="Confirm Password..."
      />
      <button
        type="submit"
        class="btn px-5 m-5 mb-0 btn-michgold btn-gold rounded-pill"
      >
        SIGN UP
      </button>
    </form>
  </div>
</div>

<%- include("partials/footer") %>
