<%- include("partials/header")%>
    <body>
    <!-- Nav Bar -->
    <%- include("partials/navbar")%>

    <H1 class="text-center text-white  outlined-text-gold display-1 fw-bold">Treatment</H1>
    <%- include("partials/footer")%>
    </body>
  </html>
