// Custom.scss
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Include any default variable overrides here (though functions won't be available)
$custom-colors: (
  "michblue": #00274c,
  "michgold": #ffcb05,
  "inputgrey": rgba(217, 217, 217, 0.5),
  "delete-btn": #d11a2a,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

:root {
  --bs-body-bg: #00274c;
}
body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}
.outlined-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.outlined-text-gold {
  text-shadow: -1px -1px 0 #ffcb05, 1px -1px 0 #ffcb05, 1px 1px 0 #ffcb05,
    1px 1px 0 #ffcb05;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #ffcb05;
}
.hive-image {
  /* cardSet the size and other styles for your container */
  // width: 100%;
  // height: 300px;
  background-image: url(/images/honeycomb.jpeg); /* Specify the path to your image */
  background-size: cover; /* Adjust the background size to cover the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  /* You can add more styles as needed */
  background-attachment: fixed;
}

.btn-gold:hover {
  background-color: rgba(255, 208, 30, 0.75);
}

input[type="range"] {
  accent-color: #ffcb05;
}

#facebookBtn:hover {
  background-color: rgb(217, 217, 217);
}
